@use "../../styles/converter";

.button {
  align-items: center;
  border: none;
  border-radius: converter.to-rem(10);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  outline-color: var(--primary-color);
  padding: converter.to-rem(5 10);
}

.icon {
  margin: converter.to-rem(5);
}
