:root {
  --background-color: hsl(227deg 100% 98%);
  --primary-color: hsl(212deg 100% 50%);
  --font-color: hsl(217deg 20% 51%);
  --button-text-color: hsl(0deg 0% 100%);
  --heading-text-color: hsl(217deg 21% 21%);
  --foreground-color: hsl(0deg 0% 100%);
  --active-color: hsl(222deg 44% 70%);
  --secondary-active-color: hsl(212deg 100% 69%);
  --disabled-color: hsl(216deg 28% 72%);
  --warning-color: hsl(0deg 91% 62%);
}

[data-theme="dark"] {
  --background-color: hsl(220deg 40% 13%);
  --primary-color: hsl(212deg 100% 50%);
  --font-color: #fff;
  --button-text-color: hsl(0deg 0% 100%);
  --heading-text-color: hsl(0deg 0% 100%);
  --foreground-color: hsl(222deg 41% 20%);
  --active-color: hsl(222deg 44% 70%);
  --secondary-active-color: hsl(212deg 100% 69%);
  --disabled-color: hsl(220deg 10% 60%);
  --warning-color: hsl(0deg 91% 62%);
}

* {
  box-sizing: border-box;

  &:focus {
    border-radius: 2px;
    outline: thin solid var(--font-color);
    outline-offset: 0.25rem;
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Space Mono, monospace, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1,
h2,
h3,
h4,
h6,
ul {
  margin: 0;
}

a {
  color: var(--font-color);
  text-decoration: none;

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

// attributes & states
[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

// disable WebKit’s proprietary pseudo elements
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

// utility classes
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* remove lastpass styling */
[data-lastpass-icon-root] {
  display: none;
}
