$palette--white: #fff;
$palette--blue: hsl(212deg 100% 50%);
$palette--deep-blue: hsl(220deg 40% 13%);
$palette--black: hsl(220deg 18% 18%);
$palette--grey: hsl(217deg 20% 51%);
$palette--white: hsl(0deg 0% 100%);
$palette--light-grey: hsl(227deg 100% 98%);
$palette--dark-blue: hsl(222deg 41% 20%);
$palette--pale-blue: hsl(222deg 44% 70%);
$palette--pale-blue-tint1: hsl(212deg 100% 69%);
$palette--dark-grey: hsl(217deg 21% 21%);
$palette--faint--grey: hsl(220deg 10% 60%);
$palette--faint-blue: hsl(216deg 28% 72%);
$palette--orange: hsl(0deg 91% 62%);
