@import "https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap";

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-dense: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
